@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

.jumbotron-color {
  background: linear-gradient(180deg, #f4f4f4, #4a90e2, #9013fe);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gold-text {
  background: linear-gradient(
    135deg,
    #fff7b1,
    #f7d774,
    #e6b450,
    #c89f3d,
    #8f6b1f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
