@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

.jumbotron-image {
  background: linear-gradient(180deg, #f4f4f4, #4a90e2, #9013fe);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
